.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.card-title {
    font-weight: bold;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem 0;
}

.footer-section {
    margin-bottom: 1rem;
    flex-basis: 100%;
    text-align: center;
}

.footer-section h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer-social-icons {
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-social-icons a {
    display: block;
    text-decoration: none;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    opacity: 0.9;
    transition: opacity 0.3s ease;
}

.footer-social-icons a:hover {
    opacity: 0.7;
}

@media screen and (min-width: 768px) {
    .footer-section {
        flex-basis: 48%;
        text-align: left;
    }

    .footer-section:last-child {
        text-align: right;
    }
}
.contact-btn {
    display: inline-block;
    width: 100%;
    max-width: 200px;
    font-size: 1rem;
    padding: 8px 16px;
    background-color: transparent;
    border: 2px solid;
    color: inherit;
    transition: all 0.3s ease;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 8px;
}

.contact-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.contact-btn:focus {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.25);
}
.contact-btn i {
    margin-right: 8px;
}
.product-price {
    font-size: 24px;
    font-weight: bold;
}

/* Contenedor de la sección Home */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
}

/* Contenido de la sección Home */
.home-content {
    text-align: center;
    max-width: 500px;
}

/* Imagen de la sección Home */
.home-img {
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Título principal de la sección Home */
.home-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* Párrafo de la sección Home */
.home-text {
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Media query para dispositivos de escritorio */
@media screen and (min-width: 992px) {
    .home-container {
        flex-direction: row;
        justify-content: center;
    }
}

.quantity-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.quantity-input {
    width: 60px;
    text-align: center;
    margin: 0 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
}

.total-price {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
}
